{% extends "app/base.html" %}

{% block header %}О компании{% endblock %}

{% block content %}
        <div class="col s12 m8">
            <div>Производим компьютеры с 1976 года
            </div>
        </div>
{% endblock %}
