{% with namespace=request.resolver_match.namespace urlname=request.resolver_match.url_name%}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block navbar %}
    <nav class="row">
      <div class="nav-wrapper col s12">
        <a href="{% url 'home' %}" class="brand-logo">
        Компьютеры</a>
        <ul class="right hide-on-med-and-down">
          <li {% if urlname == "examples" %}class="active"{% endif %}><a href="{% url 'examples' %}">Примеры</a></li>
          <li {% if urlname == "contacts" %}class="active"{% endif %}><a href="{% url 'contacts' %}">Контакты</a></li>
          <li {% if urlname == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">О проекте</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    <div class="row">
      <div class="col s12">
        <h1 class="col s12">{% block header %}{% endblock %}</h1>

            {% block content %}{% endblock %}

      </div>
    </div>
    

  </body>
</html>
{% endwith %}
