{% extends "app/base.html" %}

{% block header %}Где можно посмотреть и купить{% endblock %}

{% block content %}
        <div class="col s12 m8">
            <div>Ждем вас по адресу
                <b>Кремниевая долина, Купертино, Калифорния</b>
            </div>
        </div>
{% endblock %}