{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        {% if user.is_authenticated %}
            Привет, <b>{{user.username}}</b>.<br>
            <a href="{% url 'signup' %}">Зарегистрировать нового пользователя</a>!<br>
            <a href="{% url 'login' %}">Авторизоваться под другим пользователем</a>!<br>
            <a href="{% url 'logout' %}">Выйти</a>!<br>
        {% else %}
            Привет, <b>{% if user.is_authenticated %}{{user.username}}{% else %}гость{% endif %}</b>.<br>
            Пожалуйста, <a href="{% url 'signup' %}">зарегистрируйся</a> или <a href="{% url 'login' %}">авторизуйся</a>!
        {% endif %}
    </div>
{% endblock %}