{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        Спасибо, что посетили наш сайт, приходите еще!<br>
        <a href="{% url 'home' %}">Главная страница</a>
    </div>
{% endblock %}