{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <style>
        table.transposed {
            display: table;
        }
        table.transposed tr {
            display: table-cell;
            vertical-align: top;
            padding: 10px;
        }
        table.transposed tr td {
            display: block;
        }
    </style>
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
        <table class="transposed">
            <tr>
                <td>Модель:</td>
                <td>Стоимость:</td>
                <td>Операционная система:</td>
                <td>Оперативная память:</td>
                <td>Число пикселей на дюйм:</td>
                <td>Двойная камера:</td>
                <td>Процессор:</td>
                <td>Разрешение экрана:</td>
                <td>FM-радио:</td>
                <td>Дополнительно:</td>
            </tr>
        {% for phone in phones %}<tr>
                <td><b>{{phone.name}}</b></td>
                <td>{{phone.price}}р.</td>
                <td>{{phone.os}}</td>
                <td>{{phone.ram}}</td>
                <td>{{phone.ppd}}</td>
                <td>{{phone.double_camera|yesno:"Есть,-"}}</td>
                <td>{{phone.proc}}</td>
                <td>{{phone.resolution}}</td>
                <td>{{phone.fm_radio|yesno:"Есть,-"}}</td>
                <td>
                {% for extended in phone.extended_set.all %}
                    {{extended.value}}<br>
                {% endfor %}
                </td>
            </tr>{% endfor %}
        </table>
    </div>
{% endblock %}