{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <style>
        ul.links {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        ul.links li {
            display: inline;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <div class="container">      
        {% if is_date_paginated %} 
            <ul class="links">
                {% if date_page.previous %}
                    <li>Ранее: <a href="/books/{{date_page.previous}}">{{date_page.previous}}</a></li>
                {% endif %}

                <li>{{date_page.current}}</li>

                {% if date_page.next %}
                    <li>Позднее: <a href="/books/{{date_page.next}}">{{date_page.next}}</a></li>
                {% endif %}

                <li><a href="/books">Полный каталог</a></li>
            </ul>
        {% endif %}
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{book.name}}</h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации: <a href="/books/{{book.pub_date|date:"Y-m-d"}}/">{{book.pub_date|date:"Y-m-d"}}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}