{% extends "base.html" %}
{% load static %}
{% load query_transform %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <style>
      .product-info {
          display: inline-block;
          padding: 50px;
          width: 45%;
      }
      .sort-block ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .sort-block li {
          display: inline;
          padding-left: 20px;
          padding-right: 20px;
      }
    </style>

    <div class="container">
        <div class="header">
            <h1><a href="{% url 'show_catalog' %}">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <ul>
                Сортировать по:
                <li><a href="{% url 'show_catalog' %}{% query_transform request sort='name' %}">Названию</a></li>
                <li><a href="{% url 'show_catalog' %}{% query_transform request sort='min_price' %}">Начиная с дешевых</a></li>
                <li><a href="{% url 'show_catalog' %}{% query_transform request sort='max_price' %}">Начиная с дорогих</a></li>
            </ul>
               
        </div>

        <div class="content">
            {% for phone in phones %}
                <div class="product-info">
                    <h2><a href="{% url 'show_product' slug=phone.slug %}">{{phone.name}}</a></h2>
                    <p><strong>Стоимость: {{phone.price}}</strong></p>
                    <p><img src="{{phone.image}}" alt="Телефон {{phone.name}}" height="150px"></p>
                </div>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}