{% extends "base.html" %}
{% load static %}

{% block title %}Телефон {{phone.name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон {{phone.name}}</h1>
        </div>
        <div class="content">
            <ul>
                <li><strong>Стоимость: {{phone.price}}</strong></li>
                <li>Дата выпуска: {{phone.release_date|date:"d.m.Y"}}</li>
                <li>Поддержка LTE: {{phone.lte_exists|yesno:"Да,Нет"}}</li>
            </ul>
            <p><img src="{{phone.image}}" alt="Телефон {{phone.name}}"></p>

        </div>
    </div>
{% endblock %}