{% extends "base.html" %}
{% load static %}

{% block title %}Угадай число{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Игра "Угадай число"</h1>
            {% if is_creator %}
                <h2>Загаданное число {{value}}</h2>
                <p>Второй игрок будет пытаться угадать его</p>
                {% if gessed %}
                  <p>Игрок {{gessed_by}} угадал ваше число с {{attempts}} попытки</p>
                {% endif %}
            {% else %}
                {% if is_gesser %}
                  <p>Вы угадали число</p>
                {% elif gessed %}
                  <p>Игрок {{gessed_by}} уже угадал это число с {{attempts}} попытки.</p>
                {% else %}
                  <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}<input type="submit" value="Проверить"/>
                  </form>
                  {% if was_attempt %}
                    <p>{{report_string}}</p>
                  {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}