{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }}
      {% for obj_teacher in student.teachers.all %}
          <br> Преподаватель: {{ obj_teacher.name }} {{ obj_teacher.subject }}
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
