{% load static %}
{% load to_float %}
{% load color_class %}
{% load color_value %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <style>
        .first {}
        .total {
          background-color: gray
        }
        .low {
          background-color: green
        }
        .high1 {
          background-color: #FCD3D3
        }
        .high2 {
          background-color: #F98C8C
        }
        .high3 {
          background-color: #FF0000
        }
      </style>

      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <ul class="col s12 m8">
        
        <table>
        <tr>
          <th>Год</th>
          <th>Январь</th>
          <th>Февраль</th>
          <th>Март</th>
          <th>Апрель</th>
          <th>Май</th>
          <th>Июнь</th>
          <th>Июль</th>
          <th>Август</th>
          <th>Сентябрь</th>
          <th>Октябрь</th>
          <th>Ноябрь</th>
          <th>Декабрь</th>
          <th class="total">Всего</th>
        </tr>
        {% for row in csv_data %}
          <tr>

            {% for value in row.values %}
              <td
                {% if forloop.last %}class="total"
                {% elif forloop.first %}class="first"
                {% else %}class="{{value|color_class}}"
                {% endif %}
              >{{value|default:"-"}}</td>
            {% endfor %}

            {% comment %}
            {% for value in row.values %}
              <td
                {% if forloop.last %}class="total"
                {% elif forloop.first %}class="first"
                {% elif value|to_float < 0 %}class="low"
                {% elif value|to_float >= 5 %}class="high3"
                {% elif value|to_float >= 2 %}class="high2"
                {% elif value|to_float >= 1 %}class="high1"
                {% endif %}
              >{{value|default:"-"}}</td>
            {% endfor %}
            {% endcomment %}

            {% comment %}
            {% for value in row.values %}
              <td
                {% if forloop.last %}class="total"
                {% elif forloop.first %}class="first"
                {% else %}class="{{value|color_class}}"
                {% endif %}
              >{{value|default:"-"}}</td>
            {% endfor %}
            {% endcomment %}

            {% comment %}
            {% for value in row.values %}
              {% color_value value %}
            {% endfor %}
            {% endcomment %}

          </tr>
        {% endfor %}
      </table>

        </ul>
      </div>
    {% endblock %}

  </body>
</html>