<html>
<head>
    <title>Калькулятор</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/calc.css' %}"/>

    <script type="text/javascript" src="{% static 'js/jquery3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="left-margin width300">
        <form action="" method="GET">
            {% for field in form %}
            <p>{{ field.label_tag }}</p> {{ field }}
            {{ field.errors }}
            {% endfor %}
            <p></p>
            <input type="submit" value="Подсчитать"/>
        </form>
    </div>
    <div class="left-margin width300">
        {% if result %}
            <p>Сумма: {{common_result}}, в месяц: {{ result }}</p>
        {% endif %}
    </div>
</body>
</html>
