<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Лучшее сегодня из Python-разработки</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% load news_filters %}

    {% block content %}
      <div class="row">
        <h1 class="col s12">Лучшее сегодня из Python-разработки</h1>
        <ul class="col s12 m8">
        {% for post in posts %}
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">{{ post.data.title }}
                </span>
                {{ post.data.selftext|format_selftext:5 }}
                <p>Дата: {{ post.data.created_utc|format_date }}</p>
              <p>Рейтинг: {{ post.data.score|format_score:"Неизвестно" }}</p>
                <p>Число комментариев: {{ post.data.num_comments|format_num_comments}}</p>
              </div>
              <div class="card-action">
                <a href="{{ post.data.url }}">Ссылка на материал</a>
                <a href="{{ prefix }}{{ post.data.permalink }}">Ссылка на обсуждение</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </ul>
      </div>
    {% endblock %}

  </body>
</html>