{% extends "base.html" %}
{% load static %}

{% block title %}Журнал{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Список статей</h1>
        </div>
        <div class="articles">
            {% for article in articles %}
            <h3><a href="{% url 'show-article' article.id %}">{{article.title}}</a></h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}