{% extends "base.html" %}
{% load static %}

{% block title %}Заголовок статьи{% endblock %}

{% block content %}
    <div class="container">
        <a href="{% url 'list-articles' %}">Все статьи</a>
        <div class="header">
            <h3>{{article.title}}</h3>
            {% if article.is_paid and not user.profile.has_subscription %}
                <p>Чтобы читать данную статью необходимо подписаться на журнал!</p>
            {% else %}
                <img src="{{article.image}}">
                <div>{{article.text}}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}