<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div>
      {% if user.is_authenticated %}
        Привет, {{user.username}}! <a href="{% url 'logout' %}?next={{request.path}}">Выйти</a>
        {% if user.profile.has_subscription %}
          <p>Вы подписаны. <form action={% url 'process' 0 %}  method="POST">{% csrf_token %}<button type="submit">Отписаться</button></form></p>
        {% else %}
          <p>Вы не подписаны. <form action={% url 'process' 1 %}  method="POST">{% csrf_token %}<button type="submit">Подписаться</button></form></p>
        {% endif %}
      {% else %}
        <a href="{% url 'login' %}?next={{request.path}}">Войти</a>
      {% endif %}
    </div>
    {% block content %}{% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>